[Unit]
Description=Run the OpenStarscape server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
KillSignal=SIGINT
ExecStart=%h/starscape/server-bin
WorkingDirectory=%h/starscape

[Install]
WantedBy=default.target
